# Ignore bin dir
/nomad-consul-cluster/bin/

# Ignore data dir (where Nomad and Consul data is stored)
/nomad-consul-cluster/data/

# Ignore nomad config file since it features full paths. Better use the template (read the README)
/nomad-consul-cluster/config/nomad.server.hcl
/nomad-consul-cluster/config/nomad.client.hcl

# Ignore consul config file since it features encryption key
/nomad-consul-cluster/.env
/nomad-consul-cluster/config/consul.hcl

# Ignore some Homeassistant files
/hass-mqtt/config/hass/*.db
/hass-mqtt/config/hass/.HA_VERSION
/hass-mqtt/config/hass/.storage
/hass-mqtt/config/hass/deps
/hass-mqtt/config/hass/tts
/hass-mqtt/config/hass/home-assistant.log

.env
